/* Fonts */

@font-face {
    font-family: "anonymous-pro-regular";
    src: url("assets/fonts/anonymous_pro-webfont.woff2") format("woff2"),
         url("assets/fonts/anonymous_pro-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "anonymous-pro-bold";
    src: url("assets/fonts/anonymous_pro_b-webfont.woff2") format("woff2"),
         url("assets/fonts/anonymous_pro_b-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "anonymous-pro-italic";
    src: url("assets/fonts/anonymous_pro_i-webfont.woff2") format("woff2"),
         url("assets/fonts/anonymous_pro_i-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "anonymous-pro-bold-italic";
    src: url("assets/fonts/anonymous_pro_bi-webfont.woff2") format("woff2"),
         url("assets/fonts/anonymous_pro_bi-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/* Content */

html {
    height: 100vh;
}

body {
    margin: 0;
    padding: 3vh;
    height: 94vh;
}

body {
    background-image: url("home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    background-color: #111;
}

.content-area {
    padding: 2vh;
    background-color: rgba(17, 17, 17, 0.5);
}

h1 {
    margin: 0;
    color: rgb(245, 245, 245);
    font-family: "anonymous-pro-bold";
    font-size: 4rem;
    font-weight: bold;
}

p {
    margin: 0;
    color: rgb(245, 245, 245);
    font-family: "anonymous-pro-regular";
    font-size: 2rem;
}

.footer-text {
    font-size: 1.2rem;
}

a {
    color: skyblue;
    font-family: "anonymous-pro-regular";
}

hr {
    border: 0.1rem solid rgb(245, 245, 245);
    margin: 1rem 0;
}

hr.footer-hr {
    margin-bottom: 4rem;
}

.social-links-list {
    display: flex;
}

.social-link-item {
    color: rgb(245, 245, 245);
}

.social-link-item svg {
    height: 3rem;
    margin: 0.4rem;
}

@media(min-width: 64rem) {
    body {
        padding: 5vh 20vw;
        height: 90vh;
    }

    h1 {
        font-size: 3rem;
    }

    p {
        font-size: 1.5rem;
    }
}
